// default colors
// gray theme
$blackish: #0A1612;
$darkGrey: #e3e3e3;
$mediumGrey:#EEEEEE;
$lightGrey: #f5f5f5; 
$eggYellow: #f7CE3E;
$white: #FFFFFF;

// default theme choices
$toolbarBackgroundColor: $lightGrey;
$executiveToolbarBackground: $lightGrey;
$toolbarColor: $blackish;
$primaryBg: $mediumGrey;

// global variables
$selectedBorder: 1px solid $darkGrey;
$toolToolbarHeight: 120px;
$boxShadow: 0 1px 5px rgba(0, 0, 0, 0.15);
